@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");
.header {
  background-color: black;
  min-height: 80px;
}
.header #logo {
  color: white;
  font-size: 30px;
  margin-left: 50px;
  font-weight: 900;
  font-family: "Tapestry", cursive;
}
.header #logo #logoSpan {
  color: orangered;
}
.header .barra {
  justify-content: end;
}
.header .barra ul li #barra-estilo {
  color: white;
  font-size: 20px;
  font-weight: 900;
  font-family: "Tapestry", cursive;
}
.header .barra ul li #barra-estilo:hover {
  color: orangered;
  font-size: 22px;
}

.main {
  min-height: calc(100vh - 100px);
  background-image: linear-gradient(to right top, #ff4500, #ff6781, #ffa0d2, #fad5fc, #ffffff);
  background-image: linear-gradient(to right top, #ff4500, #fd3d00, #fc3500, #fa2b00, #f81f00, #ff2739, #ff3a5d, #ff507d, #fe84ba, #f4b3e4, #f0dcfa, #ffffff);
  background-image: linear-gradient(to right top, #ff4500, #ff5a68, #ff83ae, #ffaee1, #fad5fc, #f7e4ff, #f8f2ff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .titulo {
  width: 100%;
  margin: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main .titulo .titulos-1 {
  max-width: 600px;
  height: 120px;
  background-color: orangered;
  border: 5px solid black;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  font-family: fantasy;
  letter-spacing: 5px;
}
.main .titulo .titulos-2 {
  height: 80px;
  max-width: 500px;
  background-color: orangered;
  border: 5px solid black;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  font-family: fantasy;
  letter-spacing: 5px;
}

.footer {
  background-color: black;
  height: 20px;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 13px;
}

.section, .section1 {
  min-height: calc(100vh - 100px);
  background-image: linear-gradient(to left top, #ff4500, #ff5a68, #ff83ae, #ffaee1, #fad5fc, #f7e4ff, #f8f2ff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  display: flex;
  align-items: center;
  margin: 0;
}
.section .contFoto, .section1 .contFoto {
  background: none;
  width: 100%;
  display: flex;
  align-items: center;
  border: 0;
}
.section .contFoto .foto, .section1 .contFoto .foto {
  border-radius: 180px;
  width: 250px;
  border: 5px solid black;
  margin-bottom: 25px;
  margin-top: 25px;
}
.section .contFoto .redes, .section1 .contFoto .redes {
  font-size: 30px;
  letter-spacing: 15px;
  text-align: center;
}
.section .contFoto .redes a, .section1 .contFoto .redes a {
  color: black;
}
.section .contFoto .redes a:hover, .section1 .contFoto .redes a:hover {
  color: orangered;
  font-size: 32px;
}
.section .perfilTexto, .section1 .perfilTexto {
  padding: 60px;
}
.section .perfilTexto .textoPerfil1, .section1 .perfilTexto .textoPerfil1 {
  color: black;
  font-size: 50px;
  font-weight: 900;
  font-family: "Tapestry", cursive;
  margin-bottom: 30px;
}
.section .perfilTexto .textoPerfil1 i, .section1 .perfilTexto .textoPerfil1 i {
  color: orangered;
  font-size: 70px;
  text-align: left;
  margin-right: 50px;
}
.section .perfilTexto .textoPerfil2, .section1 .perfilTexto .textoPerfil2 {
  color: rgb(20, 20, 20);
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
}

.section1 {
  background-image: linear-gradient(to left bottom, #ff4500, #ff5a68, #ff83ae, #ffaee1, #fad5fc, #f7e4ff, #f8f2ff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}
.section1 .tituloCurriculum {
  color: orangered;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 900;
  font-family: "Tapestry", cursive;
  margin-top: 20px;
}
.section1 .tituloCurriculum span {
  color: black;
  margin-left: 50px;
}
.section1 .divCurriculum {
  padding: 20px;
}
.section1 .divCurriculum article h2 {
  font-weight: 700;
  color: black;
}
.section1 .divCurriculum article h2 i {
  color: orangered;
  margin-right: 20px;
  font-size: 35px;
}
.section1 .divCurriculum article p {
  color: rgb(78, 77, 77);
  text-align: justify;
}

.section2 {
  min-height: calc(100vh - 100px);
  background-image: linear-gradient(to left top, #ff4500, #ff5a68, #ff83ae, #ffaee1, #fad5fc, #f7e4ff, #f8f2ff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  display: flex;
  align-items: center;
  margin: 0;
}
.section2 .tituloServicios {
  margin-top: 20px;
  color: orangered;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 900;
  font-family: "Tapestry", cursive;
}
.section2 .tituloServicios span {
  color: black;
  margin-left: 50px;
}
.section2 .listaServicios {
  display: flex;
  justify-content: center;
  color: rgb(20, 20, 20);
  font-size: 20px;
  font-weight: 500;
  padding: 60px;
}
.section2 .listaServicios ul {
  list-style: square;
}
.section2 .imgServicios {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
}
.section2 .imgServicios .imgServicios1 {
  max-width: 500px;
  width: 100%;
  border: 5px solid orangered;
  border-radius: 20px;
  margin: 0;
}

.section3 {
  min-height: calc(100vh - 100px);
  background-image: linear-gradient(to left top, #ff4500, #ff5a68, #ff83ae, #ffaee1, #fad5fc, #f7e4ff, #f8f2ff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  display: flex;
  align-items: center;
  margin: 0;
}
.section3 .contacto {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.section3 .contacto .tituloContacto {
  color: orangered;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 900;
  font-family: "Tapestry", cursive;
}
.section3 .contacto .tituloContacto span {
  color: black;
  margin-left: 50px;
}
.section3 .contacto .textoContacto {
  display: flex;
  justify-content: center;
  color: rgb(20, 20, 20);
  font-weight: 500;
}
.section3 .contacto .divImg {
  display: flex;
  justify-content: center;
}
.section3 .contacto .divImg .imgContacto {
  min-width: 250px;
  max-width: 350px;
  min-height: 250px;
  max-height: 350px;
  border: 5px solid orangered;
  border-radius: 20px;
}
.section3 .formCont {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.section3 .formCont form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid orangered;
  min-width: 300px;
  width: 480px;
  max-height: 450px;
  padding: 25px;
  padding-top: 50px;
}
.section3 .formCont form label {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-top: -15px;
  font-weight: 500;
}
.section3 .formCont form input {
  width: 100%;
  height: 30px;
  background-color: orangered;
  border: 2px solid black;
}
.section3 .formCont form select {
  width: 100%;
  background-color: orangered;
  border: 2px solid black;
}
.section3 .formCont form textarea {
  width: 100%;
  height: 130px;
  margin-top: -15px;
  background-color: orangered;
  border: 2px solid black;
}/*# sourceMappingURL=estilos.css.map */